html, body, .container-fluid{ height: 100%; }

.description {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.events-image {
    width: 700px;
    
}

.info_event {
    height: 70px;
    display: flex;
    align-items: center;
}

.image-background {
    background-image: url("../images/home_page_pic.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.discover_us {
    font-size: larger;
    font-style: italic;
    font-weight:700 ;
    position: absolute;
    width: 150px;
    margin-left: -75px;
    left: 50%;
    top: 200px;
    display: inline-block;
    padding: 15px;
    border: 1px solid;
    border-radius: 4px;
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
    font-weight: 2000;
}

#footer a {
    color: white;
}

.discover_us:hover {
    filter: brightness(85%);
}

.one_event {
    margin-top: 30px;
    margin-right: 15px;
    margin-left: 15px;
    padding: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 10px;
}

.image-event {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
}

