html, body, .container-fluid{ height: 100%; }

.description {
    text-align: center;
    margin-top: 110px;
    margin-bottom: 110px;
}

.events-image {
    width: 700px;
    
}

.info_event {
    height: 70px;
    display: flex;
    align-items: center;
}

